

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}
.nav {
    display: flex;
    justify-content: space-between; /* logo left + everything else right */
    align-items: center;
    background: white;
    padding: 10px 20px;
}

.navlinks {
  
}